*/*/ignore
*/*/*/~$*
*/*/.~*
ia/sapa/deep_learning/recursos/checkpoint
ia/sapa/deep_learning/recursos/modelos/*
ia/sapa/deep_learning/recursos/datasets
ia/sapa/deep_learning/recursos/5_5/yolo
ia/sapa/deep_learning/runs
ia/sapa/deep_learning/yolo*
ia/sapa/deep_learning/recursos/5_5/*.mp4
# ia/sapa/deep_learning/Ej_sam2